{
  // "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended", 
    "plugin:react/recommended",
    "eslint:recommended", 
    "prettier"
    // "prettier/@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {"endOfLine": "auto"}
    ],
    "@typescript-eslint/explicit-function-return-type": 0,
    "react/prop-types": 0
  },
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "parser": "babel-eslint",
    "ecmaVersion": 2018
  },
  "overrides": [
    {
      "files": ["webpack.config.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": ["off"]
      }
    }
  ],
  "env": {
    "browser": true,
    "node": true
  }
}
